* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --max-width: 100%;
    --deskop-resolution: 1440px;
    --mobile-resolution: 375px;
    --font-size-content: 18px;
    --font-size-title: 25px;
    --fonte-weight: 600;
    --font-rubick: "Rubik", sans-serif;
    --nav-bar-background-color: rgb(15, 15, 15);
    --nav-bar-background-color-second: rgb(69, 69, 69);
    --color-hover-violet: rgb(98, 0, 244);
    --nav-bar-font-color: rgb(69, 188, 153);
    --nav-bar-color-hover: rgb(205, 238, 245);
    --color-hover: rgb(145, 200, 238);
    --color-hover-second: rgb(5, 162, 210);
    --nav-bar-liner-gradient: linear-gradient(to right, var(--nav-bar-background-color), var(--nav-bar-background-color-second));
    --content-linear-gradient: linear-gradient(to right, var(--nav-bar-background-color), var(--nav-bar-background-color-second));
}

.main-layout,
.nav-bar,
.content,
.footer {
    width: var(--max-width);
    max-width: var(--deskop-resolution);
    margin: auto;
    font-family: var(--font-rubick);
    color: var(--nav-bar-font-color);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--nav-bar-background-color);
}